<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="data:;base64,=">
    <meta charset="UTF-8">
    <!-- bootstrap style: https://getbootstrap.com/docs/4.3/getting-started/introduction/ -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>pet_sota</title>
</head>

<body>
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <h3>SOTA pet-project</h3>
        </div>

        <div class="card">
          <img src="images/jeans_1.jpg" alt="Denim Jeans" style="width:100%">
          <h4>Jeans</h4>
          <p class="price">$19.99</p>
          <p>ТУТ БУДЕТ ОПИСАНИЕ ИЗ ДАННЫХ</p>
          <p><input type="submit" class="btn btn-primary btn-block mt-2" value="Выбрать"></p>
        </div>
    </div>
</div>

</body>
</html>